img {
    width: 300px; /*กำหนดขนาดภาพ*/
}
.navbar {
    width: 100%; /*กำหนดความกว้าง Navbar*/
}
.row {
    width: 60%; /*กำหนดความกว้างของตาราง*/
    display: flex; /* ทำให้คอลัมน์เรียงต่อกันในแนวนอน */
    margin: auto; /*ทำให้ตารางอยู่กลางหน้าเว็บ*/
}
.column {
    flex: 1; /* ทำให้คอลัมน์ทุกคอลัมน์จะมีขนาดเท่ากัน */
    border: 1px solid #000; /* เพิ่มเส้นขอบให้แต่ละคอลัมน์ */
    padding: 20px; /* เพิ่มระยะห่างของภาพในตาราง */
    text-align: center; /*ทำให้ภาพในอยู่กลางตาราง */
}